<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Index</title>
</head>
<body>
    <div class="container">
        <h1>Willkommen zur Notenverwaltung</h1>
        <div style="text-align: center;">
            <a href="/list" class="btn">Notenliste anzeigen</a>
            <a href="/add" class="btn">Note hinzufügen</a>
            <a href="/update" class="btn">Note aktualisieren</a>
            <div class="container">
                <img src="images/giphy.webp" alt="A unicorn" style="width:100px;height: 100px;" class="image">
                <div class="overlay">
                    <div class="text">bruh warum h1 nicht mittig</div>
                </div>    
        </div>
</body>
</html>
