<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Notenliste</title>
</head>
<body>
    <div class="container">
        <h1>Liste aller Noten</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Modul</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="noten : ${Noten}">
                    <tr>
                        <td th:text="${noten.id}"></td>
                        <td th:text="${noten.fach}"></td>
                        <td th:text="${noten.note}"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <a href="/" class="back-link">Zurück zur Startseite</a>
    </div>
</body>
</html>
